---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Content from '../components/Content.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Iswaryaa GP - Tech Content Creator">
	<Header />
	<main>
		<Hero />
		<About />
		<Content />
		<Contact />
	</main>
</Layout>